input {
    outline: none !important;
}

.fondoheader {
    background: #1C1C1C;
}

body {
    padding: 0;
    margin: 0;
}

#navbar {
    background: #1C1C1C;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar a {
    color: white;
    text-decoration: none;
    padding: 2em;
}

.right-links {
    margin-left: auto;
    /* Coloca los enlaces a la derecha */
}

#navbar2 {
    background: #745B5B;
}

#navbar3 {
    background: #977C7C;
}

nav a {
    color: white;
}

.FondoAdmin {
    background-color: #EDFFFE;
    width: 100%;
    height: 100%;
}

/* LOGIN ADMIN */
.ImgAdmin {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    background-image: url(../img/fondoCaballos.png);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 100vh;
    /* Usamos la altura completa de la pantalla */
    background-size: cover;
    /* Ajusta el tamaño del fondo */
}

.form-control-admin {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 3px solid #ffffff !important;
    color: #ffffff !important;
    margin-bottom: 10px;
}

.form-control-admin:focus {
    border-bottom: 3px solid #8B4513 !important;
}

.btn-iniciar {
    background: linear-gradient(45deg, rgb(131, 56, 12), white) !important;
    color: #ffffff;
    border-radius: 20px;
    width: 90%;
}

.btn-iniciar:hover {
    background: linear-gradient(45deg, black, rgb(167, 91, 30)) !important;
    color: #D2B48C;
}

/* FIN LOGIN ADMIN */

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

header {
    /*background-image: url('../img/banner.png');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.779);*/
    width: 100%;
    /*height: 60vh;*/
}

.header-secundario {
    background-image: url('../img/header2.png');
    background-color: #D9D9D9;
    width: 100%;
    height: 180px;
}

.header-secundario h1 {
    font-size: 72px;
    margin-right: auto;
    margin-left: 60px;
}

.header-secundario::before {

    z-index: 1;
    /* Asegura que el pseudo-elemento esté por encima de la imagen de fondo */
}

header::before {
    width: 100%;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.906);
    /* Color negro con 50% de opacidad */
    z-index: 1;
    /* Asegura que el pseudo-elemento esté por encima de la imagen de fondo */
}

#listaHeader {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 80px;
    margin-top: 40px;
}

#listaHeader a {
    display: flex;
    padding: 25px;
    align-items: flex-end;
    /* Alinear los elementos en la parte inferior */
}

#listaHeader a:hover {
    background: #1C1C1C;
}

header button {
    margin-top: 300px;
    margin-left: 40px;
    background: #1F323F;
    width: 150px;
    height: 40px;
    font-size: large;
    border: none;
    box-shadow: #1C1C1C;
}

.container-1 {
    display: flex;
    margin-left: 6vh;
    margin-top: 8vh;
}

.container-1 img {
    width: 650px;
}

.container-2 {
    background: rgb(255, 255, 255);
    width: 750px;
    height: 435px;
    display: flex;
    flex-direction: column;
    margin-left: -6vh;
    margin-top: 12.5vh;
    box-shadow: 10px 5px 10px rgb(0 0 0 / 25%);
    padding: 2em;

}

/* .container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
} */
.container-2 p {
    font-size: 22px;
    margin-top: 20px;
}

.container-2 h1 {
    font-size: 3.5rem;
}

.Maestro-1 {
    display: flex;
    justify-content: center;

    flex-direction: row;
}

#Lugares {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #13212B;
    margin-top: 8vh;
    color: white;
    height: 60px;
    font-size: 26px;
}

.Maestro-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-3 img {
    width: 725px;
    height: auto;
    margin-left: 5px;
    margin-right: 3em;
    margin-bottom: 12px;
}

.container-4 {
    width: 650px;
    height: auto;
    margin-right: 5px;
    margin-left: 3em;

}

.container-4 h1 {
    font-size: 64px;
}

.container-4 a {
    font-size: 48px;
}

#caballoAdmin {
    width: 61px;
    margin-top: -4px;
}

.contenedor-tickets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    margin-left: 10%;
}

/*PAGINACION */
.paginacion:hover {
    color: #8B4513;
}

.carrera {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 2em;
    margin: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 25%);
    width: 100%;
    height: 400px;
}

.carrera-img {
    width: 500px;
}

.datos {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

#datos-title {
    font-size: 30px;
}

thead th {
    position: sticky;
    top: 0;
    /* Se fija en la parte superior de la tabla */
    z-index: 2;
    /* Asegura que esté por encima del contenido de la tabla */
}

.jinetes {
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.clasificacion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.clasificacion button {
    background: #000000;
    color: white;
    width: 200px;
    height: 60px;
    font-size: large;

}

.clasificacion2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.clasificacion2 button {
    background: #6C0000;
    color: white;
    width: 200px;
    height: 60px;
    font-size: large;

}

.clasificacion3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.clasificacion3 button {
    background: #562100;
    color: white;
    width: 200px;
    height: 60px;
    font-size: large;

}

.form_container {
    position: absolute;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 25%);
}

.form_close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #000000;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}

.form_container h2 {
    font-size: 22px;
    color: #000000;
    text-align: center;

}

.input_box {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}

.input_box input {
    height: 100%;
    width: 80%;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #333;
    border-bottom: 1.5px solid #aaaaaa;
}

.input_box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.input_box i.email,
.input_box i.password {
    left: 0;
    color: #707070;
}

.input_box i.pw_hide {
    right: 0;
    font-size: 18px;
}


/* nuevo form */

section h1 {
    font-weight: bold;
    margin: 0;
}

section h2 {
    text-align: center;
}

section p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

section span {
    font-size: 12px;
}

section a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

section button {
    border-radius: 20px;
    border: 1px solid #13212B;
    background-color: #13212B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 5.5px;

}

section button:active {
    transform: scale(0.95);
}

section button:focus {
    outline: none;
}

section button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

section form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

section input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

section .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

section .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

section .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

section .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

section .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

section .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

section .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

section .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

section .overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #26485f, #13212B);
    background: linear-gradient(to right, #1F323F, #13212B);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

section .container.right-panel-active .overlay {
    transform: translateX(50%);
}

section .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: -1px 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

section .overlay-left {
    transform: translateX(-20%);
}

section .container.right-panel-active .overlay-left {
    transform: translateX(0);
}

section .overlay-right {
    right: 0;
    transform: translateX(0);
}

section .container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

section .social-container {
    margin: 20px 0;
}

section .social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

#container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    /* Asegura que esté por encima de todo */
}


.carousel-inner button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Para centrar los botones horizontalmente */
}

.carousel-inner img {
    width: 380px;
    /* Ajusta el ancho de las imágenes según tus necesidades */
    height: 420px;
    /* Ajusta el alto de las imágenes según tus necesidades */
    padding: 1em;
    /* Agrega un relleno alrededor de las imágenes */
    margin-right: 10px;
    /* Ajusta la separación entre las imágenes */
    border-radius: 10px;
    /* Agrega bordes redondeados a las imágenes */
}

.carousel-control-prev,
.carousel-control-next {
    display: flex;
    align-items: center;
    background: red;
    position: absolute;
    /* Para posicionar los botones en relación con el contenedor padre */
    height: 50px;
    /* Ajusta el alto de los botones según tus necesidades */
    background-color: rgba(0, 0, 0, 0.5);
    /* Agrega un color de fondo a los botones */
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.navbar bg-body-tertiary .container-fluid {
    display: flex;
    justify-content: center;
}


.Maestro-2 {
    display: flex;
    justify-content: center;
    background: #1F323F;
    margin-bottom: 10px;
    /* Ajusta el margen inferior según sea necesario */
    margin-top: -17px;
    /* Puedes ajustar el margen superior si es necesario */
}

.collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* Espacio entre las imágenes */
}

.collage-item {
    width: calc(33.33% - 10px);
    /* Ajusta el ancho de cada imagen según el número de columnas deseadas */
}

.collage-item img {
    max-width: 100%;
    height: auto;
}

.enlacesHeader {
    width: 100%;
    height: 310px;
    background-image: url('../img/header2.png');
    background-color: #D9D9D9;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.tituloHeader2 {
    margin-top: 5%;
    font-size: 100px;
    margin-left: 4%;
}

/* SLIDER */
.foto-flecha {
    width: 100px;
}

#slider {
    margin: 0 auto;
    width: 800px;
    height: 500px;
    overflow: hidden;
    background-color: black;
}

#slider img {
    margin: 0 auto;
    -moz-transition: opacity 2s;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    width: 800px;
    height: 500px;
    position: absolute;
    opacity: 0;
}

#slider img:nth-child(1) {
    opacity: 1;
}

table {
    margin: 0 auto;
    width: 800px;
    height: auto;
    overflow: hidden;
    background-color: white;
    border: 0;
}

#izquierda {
    text-align: right;
}

#derecha {
    text-align: left;
}

.input-bucar {
    margin: 20px 12.5% !important;
}

/* CARRERA ANTIGUA */
.foto-flecha {
    width: 100px;
}

#slider {
    margin: 0 auto;
    width: 800px;
    height: 500px;
    overflow: hidden;
    background-color: black;
}

#slider img {
    margin: 0 auto;
    -moz-transition: opacity 2s;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    width: 800px;
    height: 500px;
    position: absolute;
    opacity: 0;
}

#slider img:nth-child(1) {
    opacity: 1;
}

table {
    margin: 0 auto;
    width: 800px;
    height: auto;
    overflow: hidden;
    background-color: white;
    border: 0;
}

#izquierda {
    text-align: right;
}

#derecha {
    text-align: left;
}

/* SLIDER HOME */
.header-slider-container {
    position: relative;
    width: 100%;
    z-index: -1;
    height: auto;
    padding-top: 24px;
}

#carouselExampleIndicators {
    width: 100%;
}

.header-container {
    position: absolute;
    width: 100%;
}

/* PERFIL */
.perfil-item-socio {
    padding: 10px;
    border: 1px solid #ccc;
}

/* FOOTER */
.footer-container {
    background-color: #1C1C1C;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-container footer {
    width: 100%;
}

li a {
    cursor: pointer;
}

/* CSS TICKETS */
.vertical-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#paymentSuccessModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    z-index: 999;
}

#paymentSuccessModal p {
    font-size: 18px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-2 {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    /* Establecer la visualización en modo flex */
}

.left-section {
    background: white;
    flex: 1;
    /* Hacer que la sección izquierda ocupe el 50% del ancho */
    padding-right: 20px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 25%);
}

.right-section {
    flex: 1;
    /* Hacer que la sección derecha ocupe el 50% del ancho */
    padding-left: 20px;
}

/* Estilos para el botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.piece {
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-left: 6px;
    margin-top: 6px;
    position: absolute;
    background-color: red;
    background-size: cover;
}

.drop-zone {
    width: 150px;
    height: 150px;
    padding: 5px;
    border: 1px dashed #000;
    position: absolute;
}

.row1 {
    top: 0;
}

.row2 {
    top: 155px;
}

.row3 {
    top: 310px;
}

.col1 {
    left: 0;
}

.col2 {
    left: 155px;
}

.col3 {
    left: 310px;

}

.container-drak-and-drop {
    position: absolute;
    top: 25%;
    left: 30%;
    width: 700px;
    height: 500px;
    border: 5px black;
    background: rgb(255, 255, 255);
    box-shadow: 10px 5px 10px rgb(0 0 0 / 25%);

}

/* DISEÑO RESPONSIVE PARA MOVIL */
@media screen and (max-width: 700px) {
    .ImgAdmin {
        height: 40em;
    }

    .Maestro-1 {
        display: block !important;
        width: 100%;
    }

    .container-1 {
        margin-left: 0;
        display: block;
    }

    .container-1 img {
        width: auto;
        height: 280px;
    }

    .container-2 {
        display: block;
        width: 340px;
        margin-left: 20px;
        height: auto;
        box-shadow: none;
        flex-direction: row; 
    }
}

/* DISEÑO RESPONSIVE ENTRE MEDIO */
@media screen and (min-width: 700px) and (max-width: 969px) {
    .ImgAdmin {
        height: 43em;
    }
}

/* DISEÑO RESPONSIVE PARA TABLET*/
@media screen and (max-width: 1024px) and (min-width: 819px) {
    .ImgAdmin {
        height: 45em;
    }
}