#navbar {
    background: #1C1C1C;
    height: 40px;
}

#navbar2 {
    background: #745B5B;
}

#navbar3 {
    background: #977C7C;
}

nav a {
    color: white;
}

.FondoAdmin {
    background-color: #EDFFFE;
    width: 100%;
    height: 100%;
}

.ImgAdmin {
    background-image: url(../img/fondoCaballos.png);
    background-repeat: no-repeat;
    background-position: bottom;
}